:root {
  --cor-de-fundo: #161618;
  --verde: #6FFF57;
  --branco: #FFFFFF;
  --botao-ativo: #3A375E;
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}
body{
    background-color: varvar(--cor-de-fundo(
    color:var(--branco);
  font-family: 'Chakra Petch');
}
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');



body {
  background-color: var(--cor-de-fundo);
  c, sans-serif;
}
.fundo-preto{
  background: black;
  color: white;
}
.botao{
  padding: 2em; 
}

